body {
  margin: 10%;
}
.home {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
}
.invoice-header {
  display: flex;
  justify-content: space-between;
}
.toggle-bar {
  display: grid;
  height: 100%;
  align-content: space-between;
  justify-items: center;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-evenly;
}
